@import "../../../styles/_settings.colors.module.scss";
@import "../../../styles/_settings.media.module.scss";

.Gnb {
  box-shadow: 0px 2px 10px $concept-yellow;
  justify-content: space-between;
  width: 100%;
  display: flex;

  div,
  section {
    display: flex;
    flex-direction: row;
  }
  div {
    padding: 0.25rem 0.6rem;
    min-width: max-content;
  }

  .menu {
    cursor: pointer;
    display: none;
    @include mobile {
      display: flex;
      align-items: center;
      &:hover {
        color: $concept-pink;
      }
    }
  }

  .List {
    div,
    img {
      cursor: pointer;
    }
    div {
      &:hover {
        color: $concept-pink;
        font-weight: bold;
      }
    }
  }

  @include mobile {
    .Close {
      display: none;
    }
    .Open,
    .Open > div {
      display: flex;
      flex-direction: column;
    }
  }
}
