.SearchBar {
  display: flex;
  margin: 1rem 0;
  .logo {
    margin-right: 1rem;
  }

  button {
    padding: 1rem 1.5rem;
    margin-left: 1rem;
  }
}

.RightWrong {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  div:first-child {
    display: flex;
    align-items: center;
    margin-right: 0.2rem;
  }
}
