.LoginForm,
.JoinForm {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  button {
    margin-top: 1rem;
  }
}

.infoText {
  margin-top: 1.4rem;
  text-align: center;
  div:last-child {
    margin-top: 0.2rem;
    color: #88a2ff;
    cursor: pointer;
  }
}
