.LoginForm {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 5px 0px;
}

.JoinForm {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 5px 0px;
}
