@import '@/styles/_mixin.flex.scss';

.container {
  @include flex-col();
  padding: 8px 12px;
  gap: 4px;
}

.word-type-wrapper {
  border-radius: 5px;
  background-color: #f6f6f6;
  padding: 4px 8px;
}

.content-wrapper {
  margin: 4px 0;
}

.title-line {
  @include flex-row($justify: space-between, $align: center);
  margin-bottom: 2px;
}

.info-line {
  @include flex-row($justify: space-between);
  margin-top: 2px;
}

.icon-text-wrapper {
  display: flex;
  gap: 10px;
}

.icon-with-text {
  display: flex;
  gap: 2px;
}
