@import "../../../styles/_settings.colors.module.scss";

// QuestionList
.QuestionList {
  max-width: 50rem;
  width: 100%;
}

.titleCont {
  display: flex;
  justify-content: space-between;
  width: 100%;

  div:first-child {
    font-weight: bold;

    &:hover {
      color: $concept-pink;
    }
  }
  div:last-child {
    display: flex;
  }
}

.icon {
  color: $concept-pink;
  margin-right: 0.2rem;
}

.questionContent {
  div {
    margin-bottom: 0.5rem;
  }
  .userNickname {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // 버튼
    div:last-child {
      display: flex;
    }
  }
}

.answer {
  background-color: #f6f6f6;
  padding: 0.8rem;
  border-radius: 0.4rem;
}

// QuestionInput
.QuestionInput {
  min-width: 12rem;
}
