@import "../../../styles/_settings.colors.module.scss";

.ListView {
  border-top: 1.5px solid #C4C4C4;  
  min-width: 20rem;
}

.ListView > div {
  padding: 0.4rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1.5px solid #C4C4C4;
  cursor: pointer;

  &:hover {
    color: $concept-pink;
  }

  div:last-child {
    margin-left: 1rem;
    font-weight: lighter;
    font-size: 0.8rem;
  }
}