@import "../../../styles/_settings.colors.module.scss";

@mixin button-color($color) {
  background: $color;
  &:hover {
    background: lighten($color, 10%);
  }
  &:active {
    background: darken($color, 10%);
  }
  &.shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &.outline {
    border: 1.5px solid $concept-yellow;
    padding: 1.2rem;
  }
  &.fullWidth {
    width: 100%;
    margin: 0.5rem 0;
  }
}

.Button {
  border: none;
  border-radius: 10px;
  padding: 0 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
  height: 2rem;
  background-color: $concept-yellow;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: fit-content;

  &.yellow {
    @include button-color($concept-yellow);
  }

  &.pink {
    @include button-color($concept-pink);
  }

  &.lightPink {
    @include button-color(lighten($concept-pink, 15%));
  }

  &.white {
    @include button-color(white);
    &:hover {
      background: lighten($concept-yellow, 20%);
    }
  }
}
