.DetailPage {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    margin: 0.2rem;
  }

  .topInfo {
    div {
      display: flex;
      align-items: center;
    }
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .answer {
    display: flex;
    div:first-child {
      color: #88a2ff;
    }
    div:last-child {
      font-weight: bold;
    }
  }

  .content {
    margin: 1rem 0 2rem;
    div {
      margin-bottom: 1.2rem;
    }
  }

  .BtnCont {
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
  }
}

.RelatedInfo {
  button {
    padding: 0.6rem;
    div:first-child {
      min-width: fit-content;
    }
  }
}
