@import "../../../styles/_settings.colors.module.scss";

.Title {
  font-weight: bold;
  padding: 0.4rem 0;

  &.normal {
    font-weight: normal;
  }

  // color
  &.black {
    color: black;
  }
  &.pink {
    color: $concept-pink;
  }
  &.blue {
    color: #88a2ff;
    margin: 1.2rem 0 0.4rem;
  }

  // size
  &.big {
    font-size: 1.4rem;
  }
  &.mid {
    font-size: 1.2rem;
  }
  &.small {
    font-size: 1.1rem;
    padding: 0 0.4rem;
  }
}

.smallText {
  font-weight: lighter;
  font-size: 0.8rem;
}
