@import "../../../styles/_settings.colors.module.scss";

.Title {  
  font-weight: bold;
  
  &.normal {
    font-weight: normal;
  }

  // color
  &.black {
    color: black;
  }
  &.pink {
    color: $concept-pink;
  }
  &.blue {
    color: blue;
  }

  // size
  &.big {
    font-size: 1.4rem;
  }
  &.mid {
    font-size: 1.2rem;
  }
  &.small {
    font-size: 1.0rem;
  }
}